@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-950 text-zinc-100 antialiased;
}

/* Scrollbar */
::-webkit-scrollbar {
  @apply w-2;
}
::-webkit-scrollbar-track {
  @apply bg-zinc-950;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-700 rounded-full;
}
